// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування стилів за замовченням
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: "Space Mono"; // Шрифт за замовчуванням
$fontSize: 15; // Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)

// Основні кольори
$mainColor: #4B6A9B; // Колір шрифту за замовчуванням
$dark-main-text: #FFFFFF; // Основний колір тексту в темній темі
$title: #2B3442; // Колір заголовка
$title-dark: #FFFFFF; // Колір заголовка
$accent-interactive: #0079FF; // Колір інтерактивних елементів (посилання, кнопки, іконки пошуку)
$text-secondary: #697C9A; // Вторинний колір тексту
$text-secondary-dark: #FFFFFF; // Вторинний колір тексту
$logo-primary: #222731; // Основний колір логотипа
$logo-primary-dark: #FFFFFF; // Основний колір логотипа
$user-info-primary: #2B3442; // Основний колір інформації про користувача (нікнейм, статистика)
$user-info-primary-dark: #FFFFFF; // Основний колір інформації про користувача (нікнейм, статистика)
$stats-card-background: #F6F8FF; // Фон блоку статистики
$stats-card-background-dark: #141D2F; // Фон блоку статистики
$background-dark: #1E2A47; // Фоновий колір
$background: #FEFEFE; // Фоновий колір
$button: #FFFFFF; // Фоновий колір

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Налаштування адаптивної сітки
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Мінімальна ширина сторінки
$minWidth: 375;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 682;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 48;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 991.98; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 572.98; // Телефони L

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------